body {
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: url(./img/computer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: -13rem;
    font-size: 3rem;
    padding-right: 2rem;
    letter-spacing:3px;
 }

 .span {
    font-size: 1.3rem;
    letter-spacing: 0;
}


@media (max-width: 1260px) {

    body {
        background-size: contain;
    }

    .container {
        margin-top: -8.5rem;
        padding-right: 1.7rem;
        letter-spacing: 1;
        font-size: 2rem;
    }

    .span {
        font-size: 1rem;
    }
}
@media (max-width: 900px) {

    /* body {
        background-size: contain;
    } */

    .container {
        margin-top: -7rem;
        letter-spacing: 0;
        font-size: 1.6rem;
    }

    .span {
        font-size: 1rem;
    }
}
@media (max-width: 720px) {
    .container {
        margin-top: -6rem;
        padding-right: 1.2rem;
        font-size: 1.4rem;
    }

    .span {
        font-size: .8rem;
    }
}