body {
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: url(./img/computer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: -13rem;
    font-size: 3rem;
    padding-right: 2rem;
    letter-spacing:3px;
 }

 .span {
    font-size: 1.3rem;
    letter-spacing: 0;
}